{%extends 'blog/main.html'%}
{% block main_section %}
<div class="form-section">
    <h2>Вы успешно обновили пароль</h2>
    Ваш пароль был отправлен вам на почту
</div>
{% endblock %}


{% block aside_section %}
<h3>
    <p><b>Мои фотографии</b></p>
</h3>
<img src="https://images.unsplash.com/photo-1550079782-9da2c1c9299b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
    class="img-thumbnail mb-1">
<p>Здесь я постарался собрать свои лучшие работы</p>
<a href="" target="_blank">
    <button class="btn btn-warning">Посмотреть</button>
</a>
{% endblock aside_section %}